include LICENSE
include README.rst
include CONTRIBUTING.rst
include tasks.py
include tox.ini
include .coveragerc
recursive-include localflavor/locale *.po *.mo
recursive-include requirements *.txt
recursive-include docs *
recursive-include tests *
